!!! 5
%html
  %head
    %title TwiTrends Statistics
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => css('styles')}

  %body
    %h1 TwiTrends Statistics

    #container
      #menu
        %h2 Statistics for...
        %ul
          %li
            %a{:href=>'/weekly'} One week
          %li
            %a{:href=>'/monthly'} One Month
          %li
            %a{:href=>'/yearly'} One Year
          %li
            %a{:href=>'/all_time'} All the time

      #data
        %img{:src=>@data[:img]}

        #tweets
          %h2 Total tweets
          %table{:align => 'center'}
            - @data[:data].each_pair do |acc, data|
              %tr
                %th=acc
                %td=data[:tweets]

      .clear